<!DOCTYPE HTML>

<html>
<head>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?147"></script>
    <script type="text/javascript">
        VK.init({apiId: 6180474});
    </script>
</head>
<body>
    <center>
        <div id="note">Для доступа на сайт, авторизируйтесь через vk.com</div>
        <div id="vk_auth" style="width:400px"></div>
        <form action="https://rubenruben.pythonanywhere.com" method="POST" style="visibility:hidden">
            {% csrf_token %}
            <input name="session" value="true">
            <input id="submit" type="submit" value="Выход">
        </form>
        <script type="text/javascript">
            VK.Widgets.Auth("vk_auth", {width: "300px", onAuth: function(data) {
                document.getElementById('submit').click()
            } });
        </script>
    </center>
</body>
