<!DOCTYPE HTML>

<html>
<head>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?147"></script>
    <script type="text/javascript">
        VK.init({apiId: 6180474});
    </script>
    Log in (RR)
</head>
<body id="body">
    <br>Session: {{ sess }}
    <div id="vk_auth"></div>
    <script type="text/javascript">
        VK.Widgets.Auth("vk_auth", {onAuth: function(data) {
                        var body = document.getElementById('body')
                        var div = document.createElement('div');
                        div.innerHTML = "Now auth!";
                        body.appendChild(div)
                        VK.Api.call('friends.get', {count: 3, fields: true}, function(r) {
                            if(r.response) {
                                var body = document.getElementById('body')
                                var div = document.createElement('div');
                                div.innerHTML = "After: " + r.response[0]["first_name"] + r.response[0]["last_name"];
                                body.appendChild(div)
                                var div = document.createElement('div');
                                div.innerHTML = r.response[1]["first_name"] + r.response[1]["last_name"];
                                body.appendChild(div)
                                var div = document.createElement('div');
                                div.innerHTML = r.response[2]["first_name"] + r.response[2]["last_name"];
                                body.appendChild(div)
                            }
                        });
                    } });

        VK.Api.call('friends.get', {count: 3, fields: true}, function(r) {
                if(r.response) {
                    var body = document.getElementById('body')
                    var div = document.createElement('div');
                    div.innerHTML = "Авто: " + r.response[0]["first_name"] + r.response[0]["last_name"];
                    body.appendChild(div)
                    var div = document.createElement('div');
                    div.innerHTML = r.response[1]["first_name"] + r.response[1]["last_name"];
                    body.appendChild(div)
                    var div = document.createElement('div');
                    div.innerHTML = r.response[2]["first_name"] + r.response[2]["last_name"];
                    body.appendChild(div)
                }
            });
    </script>
</body>
