<!DOCTYPE HTML>

<html>
<head>Hello!</head>
<body>
    <div id="user">

    </div>
    <div id="friends">

    </div>
    <script type="text/javascript">
        VK.Api.call('users.get', {}, function(r) {
            var parent = document.getElementById('user')
            var div = document.createElement('div');
            div.innerHTML = "Hello, " + r.response[0]["first_name"] + " " + r.response[0]["last_name"] ;
            parent.appendChild(div)
        });
        VK.Api.call('friends.get', {count: 5, fields: true}, function(r) {
            if(r.response) {
                var list = document.getElementById('friends')
                for(i=1; i<6; i++){
                    var div = document.createElement('div');
                    div.innerHTML = i + ") " + r.response[i-1]["first_name"] + r.response[i-1]["last_name"];
                    list.appendChild(div)
                 }
             }
        });
    </script>
</body>
</html>
